<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <p><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) btn btn-info" id="profile" asp-page="./Index">Profile</a></p>
    </li>
    <li class="nav-item">
        <p><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) btn btn-info" id="email" asp-page="./Email">Email</a></p>
    </li>
    <li class="nav-item">
        <p><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) btn btn-info" id="change-password" asp-page="./ChangePassword">Password</a></p>
    </li>
</ul>