@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <div class="col-6 col-sm-6 col-lg-4" style="text-align: start; border: 1px solid black">
            <h2>Title</h2>
            <p>ShortDescription</p>
            <p>
                <button type="button" class="btn btn-info" href="#">Add to Bookmarks</button>
                <button type="button" class="btn btn-dark" href="#">Read now</button>
            </p>
        </div>
    </div>
}
else
{
    <div>Login first!</div>
}