@using FanFiction.Data
@using Microsoft.EntityFrameworkCore

@using (Html.BeginForm("NewStory", "Stories", FormMethod.Post))
{
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="storyTitle" placeholder="Enter story title...">
    </div>
    <div class="form-group">
        <label>Short Description</label>
        <textarea class="form-control" name="storyShortDescription" rows="3" 
                placeholder="Enter short description..."></textarea>
    </div>
    <div class="form-group">
        <label>Fandom</label>
        <select class="form-control" name="fandom">
            @{
                foreach (var fandom in Model.AllFandoms)
                {
                    <option>@fandom.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <select multiple class="form-control" name="tags">
            @{
                var optionsBuilder = new DbContextOptionsBuilder<AppDbContext>();
                var options = optionsBuilder.UseSqlServer(
                    "Server=(localdb)\\MSSQLLocalDB;Database=FanFictionWebsite;" +
                                  "Trusted_Connection=True;MultipleActiveResultSets=true").Options;
                AppDbContext context = new AppDbContext(options);
                
                var tags = context.Tag.OrderBy(t => t.Text).Select(t => t.Text);
                foreach (var tag in tags)
                {
                    <option>@tag</option>
                }
            }
        </select>
      </div>
    <div class="form-group">
        <label>Add chapter</label>
        <input type="text" class="form-control" name="chapterTitle" placeholder="Enter chapter title...">
        <p></p>
        <textarea class="form-control" name="chapterText" rows="4" placeholder="Enter chapter text..."></textarea>
        <p></p>
        <input type="text" class="form-control" name="image" placeholder="Enter image link...">
    </div>
    <div></div>
    <div style="text-align: end">
        <p></p>
        <input type="submit" name="NewStory" value="Create" class="btn btn-success">
    </div>
}