@using FanFiction.Data
@using Microsoft.EntityFrameworkCore

<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="storyTitle" placeholder="Enter story title...">
    </div>
    <div class="form-group">
        <label>Short Description</label>
        <textarea class="form-control" name="storyShortDescription" rows="4" 
                placeholder="Enter short description..."></textarea>
    </div>
    <div class="form-group">
        <label>Fandom</label>
        <select class="form-control" name="fandom">
            <option disabled>Select fandom</option>
            @{
                foreach (var fandom in Model.AllFandoms)
                {
                    <option>@fandom.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <select multiple class="form-control" name="tags">
            @{
                var optionsBuilder = new DbContextOptionsBuilder<AppDbContext>();
                var options = optionsBuilder.UseSqlServer(
                    "Server=(localdb)\\MSSQLLocalDB;Database=FanFictionWebsite;" +
                                  "Trusted_Connection=True;MultipleActiveResultSets=true").Options;
                AppDbContext context = new AppDbContext(options);
                
                var tags = context.Tag.OrderBy(t => t.Text).Select(t => t.Text);
                foreach (var tag in tags)
                {
                    <option>@tag</option>
                }
            }
        </select>
      </div>
    <div class="form-group">
        <label>Add chapter</label>
        <input type="text" class="form-control" name="chapterTitle" placeholder="Enter chapter title...">
        <p></p>
        <textarea class="form-control" name="storyChapter" rows="3" placeholder="Enter chapter text..."></textarea>
        <p></p>
        <input type="text" class="form-control" name="image" placeholder="Enter image link...">
    </div>
    <div></div>
    <div style="text-align: end">
        <p></p>
        <button type="button" class="btn btn-success" 
                onclick="location.href='@Url.Action("Create", "Stories")'">Create</button>
    </div>
</form>